header
{
  height: 100px;
  margin: 0px;
  background-color: #191818;
}

body{
  background-color: #1E1E1E;
}

body {
  margin: 0;
}

h1 {
  margin: 0;
}

.titre{
  color: white;
  font-size: 2em;
  text-align: center;
  line-height:73px;
}


