body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #fff;
  background: #202733 radial-gradient(#2f3e52, #202733) fixed;
}


*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home {
  height: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#empty{
  position: relative;
  top: 48%;
}
#empty1{
  position: relative;
  top: 48%;
}


.realisations{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
}

.projet hr {
  height: 3px;
  width: 90%;

  min-width: 50px;
  left: 10%;
  margin-right: 10%;
  background-color: blue;
  background-image: linear-gradient(45deg, #41E8FF, #41A3FF);
  background-repeat: repeat;
  border: none;
}

.home hr{
  margin-left: auto;
  margin-right: auto;
  height: 3px;
  width: 10%;
  background-color: blue;
  background-image: linear-gradient(45deg, #41E8FF, #41A3FF);
  background-repeat: repeat;
  border: none;
}

.rectangle:hover{
  transform: scale(1.04);
  cursor: pointer;
  background-position: -60px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.projet{
  font-size: 100%;
  color: #f1f1f1;
  font-weight: 100;
  text-align: center;
}



.home button:hover{
  transform: scale(1.1);
  background-position: -60px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.footer{
  text-align: center;
  font-size: 0.8em;
  color: #f1f1f1;
  font-weight: 100;
}

.canard{
  height: 100px;
  width: 90px;
  position: relative;
  top: 20%;
}


@media(orientation: landscape) {
  .home img{
    display: flex;
    width: 25%;
    height: 20%;
    min-width: 200px;
    position: relative;
    left: 50%;
    border-radius: 50%;
    border: 5px solid #3BE7FF;
  }

  .presentation{
    display: flex;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
  }
  .sous_presentation{
    display: flex;
    width: 50%;
    height: 20%;
    flex-direction: column;
  }
  .home p {
    font-size: 100%;
    letter-spacing: 0.05rem;
    word-wrap: break-word;
    padding-right: 30%;
    position: relative;
    right: 10%;
    text-align: justify;
  }
  .home a{
    text-decoration: none;
    color: inherit;
  }

  .home button{
    background-color: #41E8FF;
    border: none;
    position: absolute;
    border-radius: 0.75rem;
    padding: 1rem 1.25rem;
    font-size: 0.7em;
    font-weight: 600;
    cursor: pointer;
    height: 5vh;
  }
  h1{
    font-size: 3vw;
    text-align: center;
    color: #f1f1f1;
    font-weight: 100;
    border-color: #3BE7FF;
  }
  h2 {
    font-size: 1.6vw;
    color: #f1f1f1;
    font-weight: 100;
  }
  .minecraft{
    width: 350px;
    height: 194.5px;
    border-radius: 5%;
  }
  .rectangle{
    width:350px;
    height: 194.5px;
    background: #202733;
    margin-top: 10%;
    margin-right: 3%;
    margin-left: 3%;
    margin-bottom: 5%;
    top: 70%;
    border-radius: 5%;
  }
  .projet_title{
    margin-right: 80%;
    margin-left: 5%;
    margin-top: 4%;
    position: absolute;
    height: 5%;
  }
}

@media(orientation: portrait) {
  .home img {
    display: flex;
    width: 20%;
    height: 15%;
    min-width: 130px;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 3px solid #3BE7FF;
  }

  .presentation {
    display: flex;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
  }

  .sous_presentation {
    display: flex;
    height: 20%;
    flex-direction: column;
  }

  .home p {
    margin-top: 5%;
    font-size: 90%;
    letter-spacing: 0.05rem;
    word-wrap: break-word;
    padding-right: 10%;
    padding-left: 10%;
    text-align: justify;
  }
  .home a{
    text-decoration: none;
    color: inherit;
  }

  .home button{
    background-color: #41E8FF;
    border: none;
    border-radius: 0.75rem;
    padding: 1rem 1.25rem;
    font-size: 0.7em;
    font-weight: 600;
    cursor: pointer;
    height: 5vh;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  h1{
    font-size: xx-large;
    text-align: center;
    color: #f1f1f1;
    font-weight: 100;
    border-color: #3BE7FF;
  }
  h2 {
    margin-top: 5%;
    font-size: large;
    color: #f1f1f1;
    font-weight: 100;
  }
  .minecraft{
    width:262.5px;
    height: 145.875px;
    border-radius: 5%;
  }
  .rectangle{
    width:262.5px;
    height: 145.875px;
    background: #202733;
    margin-top: 15%;
    margin-right: 3%;
    margin-left: 3%;
    margin-bottom: 15%;
    top: 60%;
    border-radius: 5%;
    flex-direction: column;
  }
  .projet_title{
    text-align: left;
    margin-right: 80%;
    margin-left: 5%;
    position: absolute;
    height: 5%;
  }

  .footer{
    margin-bottom: 5%;
  }

  .canard{
    height: 60px;
    width: 50px;
  }

  #empty{
    position: relative;
    top: 60%;
  }

  #empty1{
    position: relative;
    top: 60%;
  }


}

