header
{
  height: 100px;
  margin: 0px;
  background-color: #191818;
}




footer{
  position:absolute;
  bottom: 0;
  width:100%;
  height:200px;
  background-color: #191818;
}

h1 {
  margin: 0;
}

.titre{
  color: white;
  font-size: 2em;
  text-align: center;
  line-height:80px;
  font-family: "Comic Sans MS", fantasy;

}

.footText{
  text-align: right;
  line-height: 130px;
}

p{
  font-family: "Comic Sans MS", fantasy;
  color: white;
}

.minilogo{
  width: 100px;
  position: center;
  margin: 0;
}

