body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #fff;
  background: #202733 radial-gradient(#2f3e52, #202733) fixed;
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 13px;
}

body::-webkit-scrollbar-track {
  background: #2c2c2c;
}

body::-webkit-scrollbar-thumb {
  background-color: #414141;
  border-radius: 20px;
  border: 3px solid #414141;
}



.head{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.text{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
}

.head img{
  border-radius: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 27%;
  height: 15%;
  min-height: 150px;
  min-width: 270px;
  margin-bottom: 1%;
  margin-top: 1%;
}

.retour{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: 53%;
  margin-bottom: 1%;
  margin-top: 2%;
}

a{
  text-decoration: none;
  color: inherit;
}
button{
  background-color: #41E8FF;
  border: none;
  position: absolute;
  border-radius: 0.75rem;
  padding: 1rem 1.25rem;
  font-size: 0.7em;
  font-weight: 600;
  cursor: pointer;
  height: 5vh;
  margin-top: 1%;
  margin-bottom: 10%;
}


.body{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-between;
  flex-wrap: wrap;
  margin-right: 7%;
  margin-left: 7%;
  margin-top: 2%;
  margin-bottom: 2%;
  height: 150%;
}

.page{
  display: flex;
  flex-direction: column;
}

.big {
  display: flex;
  height: 35vw;
  width:25%;
  min-height: 400px;
  min-width: 280px;
  background: #202733;
  margin-top: 2%;
  margin-right: 3%;
  margin-left: 3%;
  margin-bottom: 2%;
  border-radius: 2%;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-between;
}

.illustration{
  display: flex;
  width: 90%;
  height: 30%;
  min-height: 70px;
  min-width: 40px;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 3%;
  background: #202733;
}

#duel{
  width: 90%;
  height: 25%;
}

.img{
  justify-content: center;
  width: 50%;
}

.big_title h2{
  vertical-align: top;
}

h2{
  font-size: max(1vw, 25px);
  text-align: center;
  color: #f1f1f1;
  font-weight: 100;
  border-color: #3BE7FF;
  margin-bottom: 0;
}

.text hr{
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  background-repeat: repeat;
  border-image: linear-gradient(45deg, #41E8FF, #41A3FF) 1;
}

.footer p {
  text-align: center;
  font-size: 0.8em;
  color: #f1f1f1;
  font-weight: 100;
}
.contact-item :hover{
  transform: scale(1.1);
  background-position: -60px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.contact-item img{
  width: 50px;
  height: 50px;
  color: #41A3FF;
}
.contact-item {
  height: 60px;
  width: 60px;
  margin: 2rem;
  padding: 1rem;
  background-color: #20232b;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
h3 {
  text-align: center;
  font-size: x-large;
  margin-bottom: 0;
}
.contact_body{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 1%;
  margin-bottom: 1%;
  justify-content: space-around;
  align-content: space-between;
}

.image{
  width: 20%;
  position: relative;
  left: 5%;
  bottom: 30%
}
button:hover{
  transform: scale(1.1);
  background-position: -60px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#main:hover{
  transform: scale(1.1);
  background-position: -60px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.footer hr {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  height: 3px;
  width: 3%;
  background-color: blue;
  background-image: linear-gradient(45deg, #41E8FF, #41A3FF);
  background-repeat: repeat;
  border: none;
}

.big:hover{
  transform: scale(1.1);
  background-position: -60px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

@media(orientation: landscape) {
  h1{
    font-size: max(1.5vw, 25px);
    text-align: center;
    color: #f1f1f1;
    font-weight: 100;
    border-color: #3BE7FF;
    margin-bottom: 0;
  }
  .head hr{
    margin-left: auto;
    margin-right: auto;
    height: 3px;
    width: 10%;
    min-width: 50px;
    background-color: blue;
    background-image: linear-gradient(45deg, #41E8FF, #41A3FF);
    background-repeat: repeat;
    border: none;
    margin-top: 0.2%;
  }
  .footer{
    height: 5%;
    margin-top: 7%;
    padding-top: 1%;
    padding-bottom: 0.5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #202733 radial-gradient(#1D2A38, #222D3A) fixed;
  }
  .body p {
    font-size: 0.7vmax;
    letter-spacing: 0.05rem;
    word-wrap: break-word;
    padding-right: 2%;
    padding-left: 2%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    text-align: justify;
  }
  .topic{
    display: block;
    height: 19vw;
    min-height: 180px;
    width:90%;
    min-width: 240px;
    background: #2b3443;
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1%;
    border-radius: 2%;
    flex-direction: column;
  }
  .big_title{
    display: flex;
    flex-direction: row;
    height: 2vw;
    padding-top: 3%;
    justify-content: center;
  }
  .title_image{
    display: flex;
    width: 140%;
    height: 370%;
    min-height: 70px;
    min-width: 40px;
    margin-right: 0;
    position: relative;
    bottom: 105%;
    border-radius: 50%;
    background: #202733;
  }

}

@media(orientation: portrait) {
  h1{
    font-size: x-large;
    text-align: center;
    color: #f1f1f1;
    font-weight: 100;
    border-color: #3BE7FF;
    margin-bottom: 0;
  }
  .head hr{
    margin-left: auto;
    margin-right: auto;
    height: 3px;
    width: 10%;
    min-width: 150px;
    background-color: blue;
    background-image: linear-gradient(45deg, #41E8FF, #41A3FF);
    background-repeat: repeat;
    border: none;
    margin-top: 0.2%;
  }
  .footer{
    height: 5%;
    margin-top: 15%;
    padding-top: 1%;
    padding-bottom: 0.5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #202733 radial-gradient(#1D2A38, #222D3A) fixed;
  }
  .body p {
    font-size: 0.8vmax;
    letter-spacing: 0.05rem;
    word-wrap: break-word;
    padding-right: 2%;
    padding-left: 2%;
    padding-top: 3%;
    position: relative;
    text-align: justify;
  }

  .topic{
    display: block;
    height: 19vw;
    min-height: 180px;
    width:90%;
    min-width: 240px;
    background: #2b3443;
    margin-top: 10%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1%;
    border-radius: 2%;
    flex-direction: column;
  }

  .big_title{
    display: flex;
    flex-direction: row;
    height: 2vw;
    padding-top: 5%;
    justify-content: center;
  }
  .title_image{
    display: flex;
    width: 140%;
    height: 370%;
    min-height: 70px;
    min-width: 40px;
    margin-right: 0;
    position: relative;
    bottom: 600%;
    border-radius: 50%;
    background: #202733;
  }
}
