body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #fff;
  background: #202733 radial-gradient(#2f3e52, #202733) fixed;
}


*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home {
  height: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.competences {
  height: auto;
  padding-bottom: 7%;
  padding-top: 1%;
  margin-top: 8%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #202733 radial-gradient(#1D2A38, #222D3A) fixed;
}

.footer{
  height: auto;
  padding-bottom: 1%;
  padding-top: 1%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #202733 radial-gradient(#1D2A38, #222D3A) fixed;
}

.contact_body{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 1%;
  margin-bottom: 1%;
  justify-content: space-around;
  align-content: space-between;
}

.footer p{
  text-align: center;
  font-size: 0.8em;
  color: #f1f1f1;
  font-weight: 100;
}

.passions {
  height: auto;
  padding-bottom: 1%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 1%;
  background: #202733 radial-gradient(#2f3e52, #202733) fixed;
}

.passions_body{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
  justify-content: space-around;
  align-content: space-between;
}

.languages img{
  display: flex;
  width: 70px;
  height: 70px;
  border-radius: 5px;
  position: relative;
  left: 17%;
}

.passions_body div{
  display: flex;
  flex-direction: column;
  width: 26.7%;
  min-width: 200px;
  margin-right: 3%;
  margin-left: 3%;
  margin-bottom: 5%;
}


.contact-item {
  height: 60px;
  width: 60px;
  margin: 2rem;
  padding: 1rem;
  background-color: #20232b;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact-item img{
  width: 50px;
  height: 50px;
  color: #41A3FF;
}

.language_body{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  justify-content: space-around;
  align-content: space-between;
}

.langues_body{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%;
  justify-content: space-around;
  align-content: space-between;
}

.langues_body div{
  display: flex;
  flex-direction: column;
  width: 100px;
  margin-right: 3%;
  margin-left: 3%;
  margin-bottom: 5%;
}

.language_body div{
  display: flex;
  flex-direction: column;
  width: 100px;
  margin-right: 3%;
  margin-left: 3%;
  margin-bottom: 5%;
}

.logiciels img{
  display: flex;
  width: 70px;
  height: 70px;
  border-radius: 5px;
  position: relative;
  left: 17%;
}

.langues img{
  display: flex;
  width: 90px;
  height: 60px;
  border-radius: 5px;
}

.logiciels_body{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%;
  justify-content: space-around;
  align-content: space-between;
}

h3{
  text-align: center;
  font-size: x-large;
}

h4{
  text-align: center;
  margin-bottom: 10%;
}
h5{
  padding-top: 8%;
  text-align: center;
}

.passions_body h3{
  margin-top: 3%;
  margin-bottom: 4%;
}

.passions_body p{
  font-size: 80%;
  letter-spacing: 0.05rem;
  word-wrap: break-word;
  padding-right: 5%;
  padding-left: 5%;
  text-align: justify;
}

.voyage p{
  font-size: 73%;
}

.language_title{
  background: linear-gradient(45deg, #41E8FF, #41A3FF);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 3%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.langues_titles{
  background: linear-gradient(45deg, #41E8FF, #41A3FF);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 3%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


.home hr{
  margin-left: auto;
  margin-right: auto;
  height: 3px;
  width: 10%;
  background-color: blue;
  background-image: linear-gradient(45deg, #41E8FF, #41A3FF);
  background-repeat: repeat;
  border: none;
}

.competences hr{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1%;
  height: 3px;
  width: 7%;
  background-color: blue;
  background-image: linear-gradient(45deg, #41E8FF, #41A3FF);
  background-repeat: repeat;
  border: none;
}

.footer hr{
  margin-left: auto;
  margin-right: auto;
  height: 3px;
  width: 3%;
  background-color: blue;
  background-image: linear-gradient(45deg, #41E8FF, #41A3FF);
  background-repeat: repeat;
  border: none;
}

.passions hr{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1%;
  height: 3px;
  width: 5%;
  background-color: blue;
  background-image: linear-gradient(45deg, #41E8FF, #41A3FF);
  background-repeat: repeat;
  border: none;
}
button:hover{
  transform: scale(1.1);
  background-position: -60px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.competences img:hover{
  transform: scale(1.1);
  background-position: -60px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.contact-item :hover{
  transform: scale(1.1);
  background-position: -60px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

@media(orientation: landscape) {
  .home img{
    display: flex;
    width: 25%;
    height: 20%;
    min-width: 200px;
    position: relative;
    left: 50%;
    border-radius: 50%;
    border: 5px solid #3BE7FF;
  }

  .presentation{
    display: flex;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
  }
  .sous_presentation{
    display: flex;
    width: 50%;
    height: 20%;
    flex-direction: column;
  }
  .home p {
    font-size: 100%;
    letter-spacing: 0.05rem;
    word-wrap: break-word;
    padding-right: 30%;
    position: relative;
    right: 10%;
    text-align: justify;
  }
  a{
    text-decoration: none;
    color: inherit;
  }

  .home button{
    background-color: #41E8FF;
    border: none;
    position: absolute;
    border-radius: 0.75rem;
    padding: 1rem 1.25rem;
    font-size: 0.7em;
    font-weight: 600;
    cursor: pointer;
    height: 5vh;
  }
  .github a{
    text-decoration: none;
    color: inherit;
  }

  .github button{
    background-color: #41E8FF;
    border: none;
    position: absolute;
    border-radius: 0.75rem;
    padding: 1rem 1.25rem;
    font-size: 0.7em;
    font-weight: 600;
    cursor: pointer;
    height: 5vh;
    right: 47%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
  }
  h1{
    font-size: 3vw;
    text-align: center;
    color: #f1f1f1;
    font-weight: 100;
    border-color: #3BE7FF;
  }
  .competences_title{
    font-size: 1vw;
    text-align: center;
    color: #f1f1f1;
    font-weight: 100;
    border-color: #3BE7FF;
  }

  .passions_title{
    font-size: 1vw;
    text-align: center;
    color: #f1f1f1;
    font-weight: 100;
    border-color: #3BE7FF;
  }

  .logiciels_title{
    background: linear-gradient(45deg, #41E8FF, #41A3FF);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 3%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .logiciels_body div{
    display: flex;
    flex-direction: column;
    width: 100px;
    margin-right: 3%;
    margin-left: 3%;
    margin-bottom: 5%;
  }
  .passions img{
    display: flex;
    width: 50%;
    height: 100%;
    min-width: 200px;
    max-height: 210px;
    border-radius: 70%;
    margin: auto;
  }
}

@media(orientation: portrait) {
  .home img {
    display: flex;
    width: 20%;
    height: 15%;
    min-width: 130px;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 3px solid #3BE7FF;
  }

  .presentation {
    display: flex;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
  }

  .sous_presentation {
    display: flex;
    height: 20%;
    flex-direction: column;
  }

  .home p {
    margin-top: 5%;
    font-size: 90%;
    letter-spacing: 0.05rem;
    word-wrap: break-word;
    padding-right: 10%;
    padding-left: 10%;
    text-align: justify;
  }
  a{
    text-decoration: none;
    color: inherit;
  }

  .home button{
    background-color: #41E8FF;
    border: none;
    border-radius: 0.75rem;
    padding: 1rem 1.25rem;
    font-size: 0.7em;
    font-weight: 600;
    cursor: pointer;
    height: 5vh;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  .github a{
    text-decoration: none;
    color: inherit;
  }

  .github button{
    background-color: #41E8FF;
    border: none;
    border-radius: 0.75rem;
    padding: 1rem 1.25rem;
    font-size: 0.7em;
    font-weight: 600;
    cursor: pointer;
    height: 5vh;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
  }
  h1{
    font-size: xx-large;
    text-align: center;
    color: #f1f1f1;
    font-weight: 100;
    border-color: #3BE7FF;
  }
  .competences_title{
    font-size: large;
    text-align: center;
    color: #f1f1f1;
    font-weight: 100;
    border-color: #3BE7FF;
  }
  .passions_title{
    font-size: large;
    text-align: center;
    color: #f1f1f1;
    font-weight: 100;
    border-color: #3BE7FF;
  }

  .logiciels_title{
    margin-top: 17%;
    color: #41A3FF;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
  }
  .logiciels_body div{
    display: flex;
    flex-direction: column;
    width: 100px;
    margin-right: 3%;
    margin-left: 3%;
    margin-bottom: 10%;
  }
  .passions img{
    display: flex;
    width: 50%;
    height: 100%;
    min-width: 150px;
    max-height: 200px;
    border-radius: 70%;
    margin: auto;
  }
}
